body{
    margin: 0;
    padding: 20px;
}

.top-box{
    border: 5px solid black;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.purple{
    background: rgb(174, 54, 211);
    height: 155px;
    width: 55px;
    display: inline-block;
}
.green{
    background: green;
    height: 245px;
    width: 400px;
    margin: 0 75px;
    display: inline-block;
}
.blue-circle{
    background-color: lightskyblue;
    height: 245px;
    width: 245px;
    border-radius: 50%;
    display: inline-block;
}

.middle-box{
    border: 5px dotted black;
    width: 100%;
    padding: 50px;
    margin-top: 25px;
    box-sizing: border-box;
}